.image {
  image-rendering: pixelated;

}

.main-image {
  height: 200px;
}

.evo-image {
  height: 100px;
}

.normal {
  background-color: #a3aa7f;
}

.fire {
  background-color: #f07f31;
}

.fighting {
  background-color: #c2312b;
}

.water {
  background-color: #6791ee;
}

.flying {
  background-color: #aa90e8;
}

.grass {
  background-color: #79c751;
}

.poison {
  background-color: #a13ca1;
}

.electric {
  background-color: #f8d12c;
}

.ground {
  background-color: #ddc071;
}

.psychic {
  background-color: #f5578a;
}

.rock {
  background-color: #b6a03c;
}

.ice {
  background-color: #91dcd7;
}

.bug {
  background-color: #a8b91d;
}

.dragon {
  background-color: #a8b91d;
}

.ghost {
  background-color: #70579a;
}

.dark {
  background-color: #6f5848;
}

.steel {
  background-color: #b8b9cb;
}

.fairy {
  background-color: #ee99ae;
}

.unknown {
  background-color: #67a08f;
}
